@keyframes color {
  0% {
    width: 100px;
    background-color: rgb(144, 37, 37);
  }
  50% {
    width: 150px;
    background-color:rgb(59, 150, 4)
  }
  100% {
    background-color:green;
    width: 200px;
  }
}

.box {
  width: 200px;
  height: 200px;
  border-style: solid;
  animation-name: color;
  animation-duration:2s;
  animation-iteration-count: 3;
  animation-direction: alternate; 
}
